@model IEnumerable<TestEquipment>
@{
    string returnUrl = Url.Action((((RouteValueDictionary)(ViewBag.RV))["returnRoot"]).ToString(), (RouteValueDictionary)(ViewBag.RV));
}

@Html.Partial("PageLink")

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <div class="groupOperation">
                        @if (item.IsDeleted) {
                            using (Html.BeginForm("Restore", (string)ViewBag.Controller)) {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Id", item.Id)
                                @Html.Hidden("returnUtl", returnUrl)
                                <input type="submit" value="恢复"/>
                            }
                        } else {
                            using (Html.BeginForm("Edit", (string)ViewBag.Controller))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Hidden("id", item.Id)
                                @Html.Hidden("returnUrl", returnUrl)
                                <input type="submit" value="编辑" />
                            }
                            using (Html.BeginForm("Delete", (string)ViewBag.Controller))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Hidden("id", item.Id)
                                @Html.Hidden("returnUrl", returnUrl)
                                <input type="submit" value="删除" />
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>