@{
    var menuPath = "";
    var sideMenuPath = "";
    if (ViewBag.path != null)
    {
        var pathList = ViewBag.path as List<string>;
        menuPath = pathList[0];
        if (pathList.Count > 1)
        {
            sideMenuPath = pathList[1];
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title-跳线</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customCss/foo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.AuthorizeActionLink("跳线测试系统", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
        <nav>
            <ul id="menu">
                <li>@Html.AuthorizeActionLink("首页", "Index", "Home")</li>
                @if (ViewBag.path != null && ViewBag.path[0] == "测试管理")
                {
                    <li class="current">
                        @Html.AuthorizeActionLink("测试管理", "Index", "TestManageHome")
                        <ul class="sideMenu">
                            <li class="@(sideMenuPath == "测试班号" ? "current" : "")">@Html.AuthorizeActionLink("测试班号", "Index", "TestClassNumber")</li>
                            <li class="@(sideMenuPath == "产线编号" ? "current" : "")">@Html.AuthorizeActionLink("产线编号", "Index", "LineNumber")</li>
                            <li class="@(sideMenuPath == "失败原因" ? "current" : "")">@Html.AuthorizeActionLink("失败原因", "Index", "RemarkMessage")</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>@Html.AuthorizeActionLink("测试管理", "Index", "TestManageHome")</li>
                }
                @if (ViewBag.path != null && ViewBag.path[0] == "质量管理")
                {
                    <li class="current">
                        @Html.AuthorizeActionLink("质量管理", "Index", "QualityManageHome")
                    <ul class="sideMenu">
                        <li class="@(sideMenuPath == "VNA测试记录" ? "current" : "")">@Html.AuthorizeActionLink("VNA测试记录", "Index", "TestResult")</li>
                        <li class="@(sideMenuPath == "PIM测试记录" ? "current" : "")">@Html.AuthorizeActionLink("PIM测试记录", "Index", "TestResultPim")</li>
                    </ul>
                </li>
                }
                else
                {
                    <li>@Html.AuthorizeActionLink("质量管理", "Index", "QualityManageHome")</li>
                }
                @if (ViewBag.path != null && ViewBag.path[0] == "系统管理")
                {
                    <li class="current">
                        @Html.AuthorizeActionLink("系统管理", "Index", "SystemHome")
                    <ul class="sideMenu">
                        <li class="@(sideMenuPath == "用户管理" ? "current" : "")">@Html.AuthorizeActionLink("用户管理", "Index", "UserProfile")</li>
                    </ul>
                </li>
                }
                else
                {
                    <li>@Html.AuthorizeActionLink("系统管理", "Index", "SystemHome")</li>
                }
            </ul>
            <div class="clear-fix"></div>
        </nav>
        <div class="sideMenu">
            <div>
                @if (ViewBag.path != null)
                {
                    int i = 0;
                    foreach (string tepStr in ViewBag.path)
                    {
                        if (i++ == 0)
                        {
                            continue;
                        }
                        @tepStr <span>></span>
                    }
                }
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            <div style="width: 100%">
                <div>
                    @RenderBody()
                    @Html.Partial("Msg")
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="content-wrapper" style="clear: both">
            <div class="float-left">
                <p>&copy;Gemcycle Quality Managment</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <script>
        $("#msg").delay(3000).fadeOut(500);
    </script>
</body>
</html>
