@model TestResult

@{
    ViewBag.Title = "详情";
}

<h2>@ViewBag.Name:@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineNumberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestClassNumberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumperUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemarkMessageId)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.TestTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.TestCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.LineNumber.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.TestClassNumber.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.JumperUser.UserName)
            </td>
            <td>
                @{
                    if (Model.Result)
                    {
                        <span>合格</span>
                    }
                    else
                    {
                        <span>不合格</span>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.RemarkMessage.Name)
            </td>
        </tr>
    </tbody>
</table>
@{   
    <img src="@Url.Content("~/UploadedFolder/VNA/" + Model.TestImg)" />
    foreach(var labelTitle in Model.TestResultItems)
    {
        <table>
            <thead>
                <tr>
                    <th>Label Title</th>
                    <th>测试结果</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@labelTitle.TestItem.Name</td>
                    <td>
                        @{
                            if (labelTitle.TestResultItemResult)
                            {
                                <span>合格</span>
                            }
                            else
                            {
                                <span>不合格</span>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Channel</th>
                    <th>Trace</th>
                    <th>XValue</th>
                    <th>YValue</th>
                    <th>Parameter</th>
                    <th>Formart</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var labelTitleVal in labelTitle.TestResultValues)
                {
                    <tr>
                        <td>@labelTitleVal.Channel</td>
                        <td>@labelTitleVal.Trace</td>
                        <td>@labelTitleVal.XValue @Html.GetUnitStr(labelTitleVal.XValueUnit)</td>
                        <td>@labelTitleVal.MarkValue</td>
                        <td>@labelTitleVal.Paremeter</td>
                        <td>@labelTitleVal.Formart</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
<p>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">返回</a>
</p>
