@Html.IndexPageInit()
<h2>@ViewBag.Name</h2>
@using (Ajax.BeginForm(null, null, (AjaxOptions)ViewBag.AjaxOpts, new { id = "searchForm" }))
{ 
    <table>
        <tr>
            <td>
                <span class="searchLabel">测试时间</span>
            </td>
            <td>
                <span class="searchLabel">产品型号</span>
            </td>
            <td>
                <span class="searchLabel">产线编号</span>
            </td>
            <td>
                <span class="searchLabel">测试班号</span>
            </td>
            <td>
                <span class="searchLabel">测试员</span>
            </td>
            <td>
                <span class="searchLabel">序列号</span>
            </td>
            <td>
                <span class="searchLabel">不合格</span>
            </td>
            <td></td>
        </tr>
        <tr>
            @Html.Hidden("returnRoot", (string)ViewBag.ReturnRoot)
            @Html.Hidden("actionAjax", (string)ViewBag.Action)
            @Html.Hidden("filter")
            <td>
                @Html.TextBox("TestTime@>=", null, new { @class = "filter Wdate", style = "width: 100px;", onFocus = "WdatePicker(({lang:'zh-cn'}))" })
                @Html.DropDownList("TestTimeStartHour@>=", new SelectList(@Html.GetHoursList(), "Value", "Text"), String.Empty, new { @class = "filter", style = "width: 50px;" })
                至
                @Html.TextBox("TestTime@<=", null, new { @class = "filter Wdate", style = "width: 100px;", onFocus = "WdatePicker(({lang:'zh-cn'}))" })
                @Html.DropDownList("TestTimeStopHour@<=", new SelectList(@Html.GetHoursList(), "Value", "Text"), String.Empty, new { @class = "filter", style = "width: 50px;" })
            </td>
            <td>
                @Html.DropDownList("ProductTypeId@=", new SelectList(Common<ProductType>.GetList("IsDeleted@=:false;"), "Id", "Name"), String.Empty, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.DropDownList("LineNumberId@=", new SelectList(Common<LineNumber>.GetList("IsDeleted@=:false;"), "Id", "Name"), String.Empty, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.DropDownList("TestClassNumberId@=", new SelectList(Common<TestClassNumber>.GetList("IsDeleted@=:false;"), "Id", "Name"), String.Empty, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.DropDownList("JumperUserId@=", new SelectList(Common<JumperUser>.GetList("IsDeleted@=:false;JumperRole.Name@=:测试员;"), "Id", "JobNumber"), String.Empty, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.TextBox("TestCode@%", null, new { @class = "filter", style = "width: 150px;" })
            </td>
            <td>
                @Html.CheckBox("Result@=", false, new { @class = "filter" })
            </td>
            <td>
                <button id="btSearch" type="submit">查询</button>
                <button id="btExport" type="submit">导出</button>
            </td>
            @Html.Hidden("export", false)
        </tr>
    </table>
}
<div id="AjaxBody">
    @Html.Action((string)ViewBag.Action, (RouteValueDictionary)(ViewBag.RV))
</div>
<!-- jquery ui css-->
@section Styles {
    <link href="@Url.Content("~/Scripts/My97DatePicker/skin/WdatePicker.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")"></script>
    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (e) { setFilter(); });
            //the export url
            var exportUrl = "/TestResult/Get";
            $("#btExport").click(function () {
                $("#export").val("True");
                //remove ajax form submit, because download file cannot use this way
                $("#searchForm").attr("data-ajax", "false");
                $("#searchForm").attr("action", exportUrl);
            });
            $("#btSearch").click(function () {
                //normal search, set export to
                $("#export").val("False");
                //use ajax from submit, because this is a normal search
                $("#searchForm").attr("data-ajax", "true");
                //get current selected kind id attr, and replace form's data-ajax-url with it
                var currentSelectedKind = $(".selected-kind").attr("Id");
                $("#searchForm").attr("data-ajax-url", currentSelectedKind);
            });
        });
    </script>
}
